<div class="absolute inset-x-0 top flex flex-col items-center justify-between min-h-fit w-full bg-primary">
  <div class="first:text-bright flex items-center *:p-1.5 flex-wrap justify-center text-center w-3/4 pb-3">
    <app-ui-typography type='H2'>Your Score</app-ui-typography>
    <app-ui-typography type='H2' highlightText="ellipse">:</app-ui-typography>
  </div>

  @if(quizResult != null) {
  <span class="flex items-center pb-2">
    <app-ui-typography type="H5" highlightText="framed" highlightColor="bg-warning">{{quizResult.score}}</app-ui-typography>
    <app-ui-typography type="P1" class="text-bright ml-2">/{{size}}</app-ui-typography>
  </span>
  <app-ui-typography class="text-bright" type="H6">{{quizResult.formattedTime}}</app-ui-typography>
  <app-ui-typography type="P1"
    class="text-bright lg:w-3/12 max-lg:w-9/12 py-3 text-center flex justify-center">{{quizResult.resultText}}</app-ui-typography>
  }

  <app-ui-link class="mb-4 lg:absolute lg:left-3" link="/quizzes-catalog">
    <app-ui-button size="md" type="accent" iconState="prev">Go to catalog</app-ui-button>
  </app-ui-link>

  <div
    class="bg-bright m-5 p-10 rounded-3xl flex flex-col items-center h-auto justify-between xl:w-1/2 max-xl:w-1/2 lg:w-2/3 max-lg:w-3/5 md:w-3/4 max-md:w-3/4 max-sm:w-10/12 ">
    <app-ui-typography type="H4">My statistics</app-ui-typography>
    <div class="flex max-lg:flex-col items-center justify-around w-full *:m-2">
      <app-ui-chart-rating [data]="chartData" />
      
      <div>
        <app-statistic-card 
          [value]="chartData.quizzesCount" 
          [label]="texts[0]" 
          iconClass="bg-warning">
        </app-statistic-card>
    
        <app-statistic-card 
          [value]="chartData.questionsCount.total" 
          [label]="texts[1]" 
          iconClass="bg-secondary">
          <span class='flex items-end *:p-0.5'>
            <app-ui-typography type="P2" class="text-success">{{chartData.questionsCount.right}} right</app-ui-typography>
            <app-ui-typography type="P2" class="text-error">{{chartData.questionsCount.wrong}} wrong</app-ui-typography>
          </span>
        </app-statistic-card>
    
        <app-statistic-card 
          [value]="chartData.time" 
          [label]="texts[2]" 
          iconClass="bg-accent">min</app-statistic-card>
      </div>

    </div>
  </div>

</div>