<div class="absolute inset-x-0 top flex flex-col items-center justify-between min-h-fit bg-primary pb-8">
  <div class="first:text-bright flex items-center *:p-1.5 pb-10 flex-wrap justify-center text-center w-3/4">
    <app-ui-typography type='H2'>Choose your</app-ui-typography>
    <app-ui-typography type='H3' highlightText="framed">Quiz</app-ui-typography>
    <app-ui-typography type='H2'>.</app-ui-typography>
  </div>

  <app-ui-link class="lg:absolute left-3 max-lg:hidden" link="/main">
    <app-ui-button size="sm" type="ghost" iconState="prev">Go to main page</app-ui-button>
  </app-ui-link>

  <div
    class="lg:hidden max-lg:fixed bottom-0 w-full flex items-center justify-between p-5 rounded-t-lg bg-primary border-t-4 border-opacity-75 border-t-muted">
    <app-ui-link link="/main">
      <app-ui-button size="sm" type="ghost" iconState="prev">Go to main page</app-ui-button>
    </app-ui-link>

    <app-ui-link link="/quiz/Lucky quiz">
      <app-ui-button type="accent">I'm lucky</app-ui-button>
    </app-ui-link>
  </div>

  <div class="flex justify-center flex-wrap w-full max-lg:mb-16">
    <ng-container *ngFor="let item of categories$ | async; let i = index;">
      <app-ui-card-quiz [styles]="getCardStyle(i)" [name]="item.name" [id]="item.id" />
    </ng-container>
  </div>

  <app-ui-link link="/quiz/0">
    <app-ui-button class="m-6 max-lg:hidden" type="accent">I'm lucky</app-ui-button>
  </app-ui-link>
</div>
<app-ui-spinner [show]="!!(isLoading$ | async)" />