<nav class="bg-primary text-bright">
  <div class="bg-primary mx-auto flex items-center justify-between p-4">
    <app-ui-link link="/">
      <img [src]="logoSrc" alt="logo" width="75" height="40" />
    </app-ui-link>

    <button (click)="toggleMenu()" class="text-white md:hidden flex items-center *:pl-3 hover:text-muted"
      aria-label="Toggle navigation">
      <app-ui-typography *ngIf="!isMenuOpen">☰</app-ui-typography>
      <app-ui-typography *ngIf="isMenuOpen">↓</app-ui-typography>
      <app-ui-typography>Menu</app-ui-typography>
    </button>

    <div class="hidden md:flex w-full items-center justify-between">
      <div class="flex items-center justify-around w-1/4 pl-7">
        <ng-container *ngFor="let item of menuItems">
          <app-ui-link class="relative cursor-pointer hover:text-shade nav-item-animation" [link]="item.link">
            <app-ui-typography type="P1">{{ item.label }}</app-ui-typography>
          </app-ui-link>
        </ng-container>
      </div>
      <div class="flex w-1/4 justify-end">
        <app-ui-button textName="P2" type="accent" size="sm">Sign in</app-ui-button>
        <app-ui-button textName="P2" type="ghost" size="sm">Sign up</app-ui-button>
      </div>
    </div>
  </div>


  <div *ngIf="isMenuOpen"
    class="absolute rounded-b-lg border-b-4 border-opacity-75 border-b-muted w-full bg-primary flex flex-col items-end md:hidden p-4 *:my-3 z-[1003]">
    <ng-container *ngFor="let item of menuItems">
      <app-ui-link class="relative cursor-pointer hover:text-shade nav-item-animation" [link]="item.link">
        <app-ui-typography type="P1">{{ item.label }}</app-ui-typography>
      </app-ui-link>
    </ng-container>
    <div class="flex items-center">
      <app-ui-button textName="P2" type="accent" size="sm">Sign in</app-ui-button>
      <app-ui-button textName="P2" type="ghost" size="sm">Sign up</app-ui-button>
    </div>
  </div>
</nav>