<div class="absolute inset-x-0 top-1/4 flex flex-col items-center justify-between ">
  <div class="first:text-bright flex items-center *:px-1 pb-10 flex-wrap justify-center text-center w-3/4">
    <app-ui-typography type='H1'>Make your</app-ui-typography>
    <app-ui-typography type='H3' highlightText="framed">choice</app-ui-typography>
    <app-ui-typography type='H1' highlightText="ellipse">.</app-ui-typography>
  </div>
  <app-ui-link link="/quizzes-catalog">
    <app-ui-button size="md" iconState="next">Go to a quiz</app-ui-button>
  </app-ui-link>
</div>