<div *ngIf="show" role="status"
  class="fixed inset-0 flex items-center justify-center bg-muted text-bright bg-opacity-75 z-50">
  <div class="absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2">
    <svg aria-hidden="true" class="w-20 h-20 animate-spin mb-5" viewBox="0 0 24 24" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <path d="M12 22C17.5228 22 22 17.5228 22 12H19C19 15.866 15.866 19 12 19V22Z" fill="#3545E9"></path>
        <path d="M2 12C2 6.47715 6.47715 2 12 2V5C8.13401 5 5 8.13401 5 12H2Z" fill="#3545E9"></path>
      </g>
    </svg>
    <app-ui-typography>Loading...</app-ui-typography>
  </div>
</div>